#title {
  text-align: center;
}

#description {
  text-align: center;
  color: black;
}

input {
    border-radius: 10px;
    height: 30px;
}

label {
  color: white;
}

p {
  color: white;
}

#survey-form-wrapper {
  background-color: rgb(37, 195, 98);
  
  background-color: rgba(0, 0, 0, 0.7);

  filter:progid:DXImageTransform.Microsoft.gradient(
    startColorstr=#BB000000, endColorstr=#BB000000
  );
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr=#BB000000, endColorstr=#BB000000
  );
    
  margin-left: 30%;
  margin-right: 30%;
}

#survey-form{
  margin: 0 15% 0 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

#background-students {
  background-image: url('https://img.lovepik.com/free-png/20211215/lovepik-female-college-student-showing-computer-png-image_401649147_wh1200.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}


#textarea {
  display: block;
  margin: auto;
}

#submit {
  
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: rgb(37, 232, 98);
  width: 50%;
  height: 50%;
  
}
